<h5><i>~~~Coffee Profiles~~~</b></i></h5>
<div align="right">
 
<h5><span id="datetime"></span></h5>
 <h5><a href="/logout">Log Out</a></h5></center>
</div>


<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
<html>
<body background="https://www.verywellhealth.com/thmb/yeH4u7-xV2mfw1M_0MctAv_EWsw=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/iStock-580106866-58cf635a3df78c3c4f84250c.jpg">


<div align="center">
<h1>YOUR POST HAS BEEN DELETED!</h1>
<img src ="https://d1nhio0ox7pgb.cloudfront.net/_img/v_collection_png/512x512/shadow/cup_delete.png">
</div>
<h5> Would you like to make a new post? </h5></center>
<form action="/posts/new" method="GET">
  <input id="hidden" type="hidden" name="_method" value="New Post">
  <input type="submit" value="New Post">
</form>