<h5><i>~~~Coffee Profiles~~~</b></i></h5>
<div align="right">
 
<h5><span id="datetime"></span></h5>
 <h5><a href="/logout">Log Out</a></h5></center>
</div>


<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
<html>
<body background="https://www.verywellhealth.com/thmb/yeH4u7-xV2mfw1M_0MctAv_EWsw=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/iStock-580106866-58cf635a3df78c3c4f84250c.jpg">



<h1>Gotta Figure Out How To Display This</h1>

<p> <br><h5> Would you like to <a href="/edit">edit</a> your post? </h5></center>