<h5><i>~~~Coffee Profiles~~~</b></i></h5>
<h5>Current User: <%= current_user.username %></h5>
<div align="right">
<h5><span id="datetime"></span></h5>
 <h5><a href="/logout">Log Out</a></h5></center>
</div>

<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
<html>
<body background="https://www.verywellhealth.com/thmb/yeH4u7-xV2mfw1M_0MctAv_EWsw=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/iStock-580106866-58cf635a3df78c3c4f84250c.jpg">

</body>
</html><center>
<h1>Welcome to Coffee Profiles!</h1>
<h3>Your guide to the world of coffee.</h3>
<img src ="https://coffeeandhealth.org/wp-content/uploads/2015/10/Visual-2.png"alt="Image" height="400" width="400">
<br>
<h3>Coffee</h3>
<br>
<div align="left"> <h5>
Coffee is a brewed drink prepared from roasted coffee beans, the seeds of berries from certain Coffea species. The genus Coffea is native to tropical Africa (specifically having its origin in Ethiopia and Sudan) and Madagascar, the Comoros, Mauritius, and Réunion in the Indian Ocean. Coffee plants are now cultivated in over 70 countries, primarily in the equatorial regions of the Americas, Southeast Asia, Indian subcontinent, and Africa. The two most commonly grown are C. arabica and C. robusta. Once ripe, coffee berries are picked, processed, and dried. Dried coffee seeds (referred to as "beans") are roasted to varying degrees, depending on the desired flavor. Roasted beans are ground and then brewed with near-boiling water to produce the beverage known as coffee.
<br>
<br>
Coffee is darkly colored, bitter, slightly acidic and has a stimulating effect in humans, primarily due to its caffeine content. It is one of the most popular drinks in the world, and it can be prepared and presented in a variety of ways (e.g., espresso, French press, caffè latte). It is usually served hot, although iced coffee is a popular alternative. Clinical studies indicate that moderate coffee consumption is benign or mildly beneficial in healthy adults, with continuing research on whether long-term consumption lowers the risk of some diseases, although those long-term studies are of generally poor quality.
<br>
<br>
While coffee is native to Ethiopia and Sudan, the earliest credible evidence of coffee-drinking as the modern beverage appears in modern-day Yemen in southern Arabia in the middle of the 15th century in Sufi shrines. It was in what is now Yemen that coffee seeds were first roasted and brewed in a manner similar to how it is now prepared for drinking. But the coffee seeds had to be first exported from East Africa to Yemen, as Coffea arabica is thought to have been indigenous to the former. The Yemenis obtained their coffee via Somali traders from Berbera (who in turn procured the beans from the Ethiopian Highlands) and began to cultivate the seed. By the 16th century, the drink had reached Persia, Turkey, and North Africa. From there, it spread to Europe and the rest of the world.
<br>
<br>
As of 2018, Brazil was the leading grower of coffee beans, producing one-third of the world total.[8] Coffee is a major export commodity, being the top legal agricultural export for numerous countries. It is one of the most valuable commodities exported by developing countries. Green, unroasted coffee is one of the most traded agricultural commodities in the world. The way developed countries trade coffee with developing nations has been criticised, as well as the impact on the environment with regards to the clearing of land for coffee-growing and water use. Consequently, the markets for fair trade and organic coffee are expanding.</h5>
<br>
<br>
<br>
<h5> Would you like to make a new post? </h5></center>
<form action="/posts/new" method="GET">
  <input id="hidden" type="hidden" name="_method" value="New Post">
 <input type="submit" value="New Post">
</form></div>