<h5><i>~~~Coffee Profiles~~~</b></i></h5>
<div align="right">
<h5><span id="datetime"></span></h5>
</div>


<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
<html>
<body background="https://www.verywellhealth.com/thmb/yeH4u7-xV2mfw1M_0MctAv_EWsw=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/iStock-580106866-58cf635a3df78c3c4f84250c.jpg">
  
<h3>Let's set up your coffee profile!</h3>
<form action="/signup" method="POST">
  <input type="text" name="name" placeholder="Name:"><p></p>
  <input type="text" name="username" placeholder="Username:"><p></p>
  <input type="text" name="email" placeholder="Email:"><p></p>
  <input type="password" name="password" placeholder="Password:"><p></p>
  <input type="submit" value="Let's Get Brewing!">
</form>